.App{
    margin: 0px auto;
}

.keyword{
    margin: 0px auto;
    float: right;
}
.main{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px auto;
    text-align: center;
    font-size: 50px;
    
}